* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  height: 100vh;
}

.main {
  margin: 0 auto;
  height: 100%;
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background-color: aquamarine;
  width: 35rem;
  height: 25rem;
}
.slides {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.slide {
  transform-origin: center center;
  scroll-snap-align: center;
}
img {
  width: 35rem;
  height: 25rem;
}
.first-slide {
}
.second-slide {
}
.third-slide {
}
.fourth-slide {
}
.footer {
}