* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

body {
  background-color: rgb(28, 7, 7);
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  height: 100vh;
}

.main {
  margin: 0 auto;
  height: 100%;
  width: 35rem;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  row-gap: 2rem;
}

.slider {
  width: 35rem;
  height: 25rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 5px 10px 2px rgb(219, 61, 61);
  -moz-box-shadow: 0px 5px 10px 2px rgb(219, 61, 61);
  box-shadow: 0px 5px 10px 2px rgb(219, 61, 61);
}
.slides {
  display: flex;
  overflow: hidden;
  
}
.slide{
  transition: 0.5s;
}
img {
  width: 35rem;
  height: 25rem;
  border-radius: 1rem;
}

input {
  display: none;
}

label {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
	height: 3rem;
	width: 3rem;
}

label:hover .control {
  border: 5px solid rgba(255,255,255);
}

.controls {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.control {
  height: 1.5rem;
	width: 1.5rem;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.7);
  transition: 0.3s;
}

#slide1:checked ~ .controls > label:nth-of-type(1) > span,
#slide2:checked ~ .controls > label:nth-of-type(2) > span,
#slide3:checked ~ .controls > label:nth-of-type(3) > span,
#slide4:checked ~ .controls > label:nth-of-type(4) > span {
	background: rgb(250, 0, 0);
  border: 5px solid rgba(255,255,255);
}

#slide1:checked ~ .slides > .slide{
  transform: translate(0);
}

#slide2:checked ~ .slides > .slide{
  transform: translate(-100%);
}

#slide3:checked ~ .slides > .slide{
  transform: translate(-200%);
}

#slide4:checked ~ .slides > .slide{
  transform: translate(-300%);
}
